<!doctype html>
<html ng-app="app">

<head>
	<meta charset="utf-8">
	<title>Lenovo Y720 Keyboard Led Controller</title>
	<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/angular_material/1.2.1/angular-material.min.css">
	<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
	<style>
		.keys {
			height: 40px !important;
			border-radius: 5px;
			margin: 5px;
			text-align: center;
		}

		.not-selectable {
			user-select: none;
			-moz-user-select: none;
			-khtml-user-select: none;
			-webkit-user-select: none;
			-o-user-select: none;
		}

		.mode-icon {
			max-height: 70px;
			border: 1px solid #9a9a9a54;
		}
		md-dialog {
			min-width: 40%;
		}
		button.md-raised {
			background-color: rgb(78, 78, 78) !important;
			color: #FFF !important;
		}
		button.md-raised[disabled] {
			background-color: rgb(37, 37, 37) !important;
			color: black !important;
		}
	</style>
</head>

<body>
	<md-content layout="row" layout-padding style="background-color: #2A2A2A; color: #FFF;" ng-controller="indexController" tabIndex="-1" role="main">
		<div layout="column" style="width:100%; margin:10px;" layout-padding layout-align="center center" flex>
			<div
				layout="row"
				layout-align="center center"
				layout-margin
				style="width: 100%; margin: 10px; background-color: #333333;"
				md-whiteframe="5dp"
			>
				<label>User profile</label>
				<md-select
					aria-label="profileSelect"
					md-whiteframe="5dp"
					ng-model="selectedProfile"
					ng-change="changeProfile()"
					style="min-width: 200px; background-color:rgb(78, 78, 78)"
				>
					<md-option
						ng-repeat="userProfile in userProfiles track by $index"
						ng-value="$index"
					>
						{{userProfile.profileName}}
					</md-option>
				</md-select>
				<md-button class="md-raised" ng-click="addProfile()">ADD PROFILE</md-button>
				<md-button class="md-raised" ng-click="renameProfile()">RENAME PROFILE</md-button>
				<md-button class="md-raised" ng-click="deleteProfile()" ng-disabled="userProfiles.length<=1">DELETE PROFILE</md-button>
				<!-- <md-button ng-click="showHideAdvancedBrightnessOptions()" class="md-raised">
					{{advancedBrightness ? 'Hide advanced brightness options' : 'Show advanced brightness options'}}
				</md-button> -->
			</div>
			<div
				layout-align="center center"
				layout-padding
				layout-margin
				layout="column"
				style="width:100%; margin: 10px; background-color: #333333;"
				md-whiteframe="5dp"
				flex
			>
				<div layout="row">
					<div layout="column">
						<div ng-repeat="row in keyboard" layout="row" flex>
							<div ng-repeat="key in keyboard[$index]" ng-click="selectSegment($parent.$index, $index, 'k')"
								layout-align="center center" layout="column"
								ng-bind-html="getKey(key, $parent.$index, $index, 'k')" style="outline: none !important;">
							</div>
						</div>
					</div>
					<div layout="column">
						<div ng-repeat="row in numpad" layout="row"
							ng-style="{'align-self': ({{$index}}==4 || {{$index}}==5)? 'center':'none'}" flex>
							<div ng-repeat="key in numpad[$index]" ng-click="selectSegment($parent.$index, $index, 'n')"
								layout-align="center center" layout="column"
								ng-bind-html="getKey(key, $parent.$index, $index, 'n')" style="outline: none !important;">
							</div>
						</div>
					</div>
				</div>
				<div layout="row" md-whiteframe="5dp" style="min-width: 50%;" layout-align="center center" flex>
					<!-- <md-input-container ng-show="!advancedBrightness" layout-margin> -->
					<md-input-container layout-margin>
						<span>Select the brightness for the keyboard</span>
						<select
							aria-label="brightnessSelect"
							ng-change="changeAllSegmentBrightness()"
							ng-model="selectedBrightness"
							style="background-color: white;"
						>
							<option ng-value="bright.brightnessValue" ng-repeat="bright in brightness">{{bright.brightnessName}}</md-option>
						</select>
					</md-input-container>
					<!-- <div layout="column" ng-if="advancedBrightness" layout-align="center center">
						<span style="margin-top: 8px;">Select the brightness for each segment of the keyboard</span>
						<div layout="row">
							<div ng-repeat="segment in segmentsOptions">
								<md-input-container style="width: 120px; margin: 0 0 8px 0;" layout-margin>
									<select
										aria-label="brightnessSelect"
										ng-change="applySettings()"
										ng-model="segment.segmentBrightness"
										style="background-color: white;"
									>
										<option ng-value="bright.brightnessValue" ng-repeat="bright in brightness">{{bright.brightnessName}}</md-option>
									</select>
								</md-input-container>
							</div>
						</div>
					</div> -->
				</div>
			</div>
		</div>
		<div
			layout-align="center center"
			layout-margin
			style="max-width: 23%; min-width:75px; background-color: #333333;"
			md-whiteframe="5dp"
			flex
		>
			<div layout="column" layout-align="center center" layout-padding flex>
				<span>Color</span>
				<md-divider style="width: 100%; text-align: center; border-color: #FFF;"></md-divider>
			</div>
			<div layout="row" layout-align="center center" layout-wrap style="margin-bottom: 15px;" flex>
				<div ng-repeat="color in colors" layout="column" flex="12" style="margin: 5px;">
					<div
						style="height:36px !important; width:36px !important; border: #FFFFFF; position: relative;"
						ng-style="{'background-color':'{{color.colorHex}}', 'border':'3px solid rgb(255 255 255 / 85%)'}"
						ng-click="selectSegmentColor($index)"
					>
						<div layout="row" layout-align="center center" ng-show="checkSelectedSegmentColor($index)"
							style="width: 100%; height: 100%; background: rgba(0,0,0,0.65); z-index: 2; position: absolute;">
							<md-icon style="height:auto; width:auto; font-size:35px; color: green;">done</md-icon>
						</div>
						<hr ng-if="color.colorName.toLowerCase()=='black'" style="
								border: none;
								border-left: 3px solid rgb(255,0,0);
								margin-block: -6px;
								margin-inline: 1.2em;
								height: 133%;
								width: 1px;
								transform: rotate(45deg);
								z-index: 1;
								position: relative;
							">
					</div>
				</div>
			</div>
			<div layout="column" layout-align="center center" layout-padding flex>
				<span>Backlight style</span>
				<md-divider style="width: 100%; text-align: center; border-color: #FFF;"></md-divider>
			</div>
			<div layout="row" layout-align="center center" style="padding:0; margin-top: 0;" layout-margin layout-wrap flex>
				<div
					ng-repeat="modes in backlightModeIcons"
					ng-click="changeBacklightMode($index)"
					ng-bind-html="getModeIcon($index)"
					style="outline: none !important;"
				>
				</div>
			</div>
		</div>
	</md-content>
	<script>
		require('./app.js');
	</script>
</body>
</html>